
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html{
    max-width: 767px;
}
@font-face {
    font-family: "gulfs-display";
    src: url("fuentes/GulfsDisplay-Normal.ttf");
}
@font-face {
    font-family: "anybody";
    src: url("fuentes/Anybody-Black.ttf");
}
@font-face {
    font-family: "futurino";
    src: url("fuentes/futurino-outline-bold.ttf");
}
body {
    font-family:"gulfs-display","anybody", sans-serif;
  }
  
/* Estilos para el menu de navegacion. */
header{
    display: flex;
    flex-direction: column;
    background-color: #ffb4ce;
    font-family: "gulfs-display";;
    padding-bottom: 5%;
}

header a{ 
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    gap:20px;
}

header  nav ul li a img{
    height: 1.5em;
    width: 1.5em;
}

.con-burguer{
height: 3em;
width: 3em;
margin-left: 85%;
margin-top: 5%;
padding: 0.8em;
border: 1px solid black;
border-radius: 100%;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 2);
cursor: pointer;
}
header div img{
    height: 20px;
    width: 20px;
}
.menu-secciones{
    display:none;
}
.icono-cerrar{
    display: none;
}
.menu-nav{
    margin: 10%;
    display: none;
}

nav ul{
    list-style: none;
}

/* Mostrar menu al seleccionar checkbox */
#menu-secciones:checked + label .icono-abrir{
    display: none;
  }
#menu-secciones:checked + label  .icono-cerrar  {
    display: flex;
  }
#menu-secciones:checked + label + .menu-nav  {
    display: flex;
  }

/* Estilos seccion de Incio */

.inicial{ 
    position: relative;  
    height: 90vh;
    background:linear-gradient(to bottom,#feb4cd 45.5%,black 45.5%,black 46%,#fff35f 46%) ;
    color: #0b59f8; 
    font-size: clamp(1.5rem, 5vw, 3rem);
}
.contenedor-titulo-dibujos h1{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
}
.contenedor-titulo-dibujos .estrella-pequeña{
    position: absolute;
    top:12%;
    left: 20%;
    height: 1.6rem;
    width: 1.6rem;
}
.contenedor-titulo-dibujos .estrella-mediana{
    position: absolute;
    top: 38%;
    right: 13%;
    height: 1.5rem;
    width: 1.5rem;
}
.contenedor-titulo-dibujos .estrella-grande{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 3.6rem;
    width: 3.6rem;
}
.contenedor-titulo-dibujos .rayo{
    position: absolute;
    top: 33%;
    right:20%;
    height: 2rem;
    width: 2rem;
}

.contenedor-imagen-logo .imagen-grande{
    position: absolute;
    border: 1px solid black;
    border-radius: 35%;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 45vw;
    z-index: 1;
}
.contenedor-imagen-logo .logo{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 65vh;
    left: 22%;
    z-index: 4;
}
   
/* Estilos seccion de nosotros */

.nosotros{
    display: flex;
    flex-direction: column;
    background-color: #fff35f;
}

.contenedor-circles{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.texto-subtitulo-iconos h1{
    font-family: "futurino";
    line-height: 0.8;
    color: #1d5fcd;
    font-size:4rem ;
    padding-left: 12%;
}
.texto-subtitulo-iconos p{
    margin-top: 2%;
    margin-right: 12%;
    font-family: sans-serif;
    padding-left: 12%;
}
.texto-subtitulo-iconos span{
    display:inline-flex;
    margin-top: 2%; 
    font-family: "anybody";
    align-items: center;
    padding-left: 12%;
  
}
.texto-subtitulo-iconos span img{
    height:4rem ;
    width: 4rem;
}

.con-div{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 90vw;
}
.contenedor-imagen-nosotros{
    position: absolute;
    width: 70vw;
    height: 70vw;
    background-color: #ffb4ce;
    border: 1px solid black;
}
.uno{
    top: 12%;
    left: 10%;
    rotate: -10deg;
}
.dos{
    top: 10%;
    rotate: -10deg;
    left: 11%;
}
.tres{
    background-color: white;
    rotate: -10deg;
    top: 8%;
    left: 12%;
}
.tres img{
    margin: 5%;
    width: 62vw;
    height: 62vw;
}
/* Estilos seccion de Galeria */
.galeria{
    background:linear-gradient(to bottom,#fcffff 70.5%,black 70.5%,black 71%,#ff6541 71%) ;
    padding-bottom: 7%;
    padding-top: 5%;
}

.contenedor-galeria{
display: grid;
grid-auto-flow: column;
overflow-x: auto;
grid-template-rows: 1fr 1fr;
gap:10px;
}

.contenedor-galeria img{
    height: 45vh;
    width:35vw ;
    border: 1px solid black;
    border-radius: 15%;   
    object-fit: cover;   
    display: block;
}
/* Estilos seccion de Precios */
.precios div{
font-family: "gulfs-display";
}

.item1{
    background-color:#ffb4ce ;
    border: 1px solid black;
}
.precios-titulo{
    padding: 5% 0 5% 5%;
    font-size: 1.5rem;
    color: #ff6541;
}
.precios-horas{
    position: relative;
    padding:8%
}
.precios-horas h4{
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    color:#035dff ;
    gap: 10px;
}
.signo{
    color:#035dff;
    width:1rem;
    height: 1rem;
}
.precios-horas input{
   width: 80vw;
}
.disco{
    position: absolute;
    width:4rem;
    height: 4rem;
    left:5%;
    top: 50%;
}
.con-items{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 0.5fr;
    font-size: 1.2rem;
    text-align: center;
}

.item3{
    background-color:#fff460 ;
    border: 1px solid black;
}
.precios-sesion{
    grid-row: 1/2;
    grid-column: 1/2;
    color: #ff6541;  
}
.precios-video{
    grid-row: 1/2;
    grid-column: 2/3;
    color:#035dff;
    border: 1px solid black;
}
.precios-digital{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color:#035dff ;
    color:white
}
.precios-digital .subtitulo-2{
    color: #0247c2;
}
.precios-fotos{
    grid-row: 2/3;
    grid-column: 2/3;
    display: relative;
    color: #035dff;
}
.cabina-icon{
    margin-top: 5%;
    width: 2rem;
    height: 2rem;
}
.cabina-uno{
    width: 1.2rem;
    height: 1.2rem;
}
.contenedor-ovalado{
    position: relative;
    margin-left: 50%;
    padding-top: 3%;
    padding-left: 3%;
    transform: translateX(-50%);
    border: 2px solid black;
    width: 60%;
    height: 5rem;
    border-radius:45px ;
    box-shadow: 5px 6px 10px rgba(0, 0,0,4);
}
.perilla{
    width: 5rem;
    height: 5rem;
}
.ova-uno{
    background-color: #ff6541;
}
.ova-dos{
    background-color: #ffb4ce;
}
.ova-tres{
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    background-color: #ffffff;
}
.cabina-dos{
    background-color: #ffb4ce;
}
.contenedor-ovalado input{
    display: none;
}

.circular{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
    rotate: -35deg;
    width: 4rem;
    height: 4rem;
}
.cir-uno{
    background-color: #ada545;
    transition-duration: 1s;
}
.cir-dos{
    background-color: #1b4fac;
    transition-duration: 1s;
}
.cara{
width: 3.5rem;
height: 3.5rem;
}
.subtitulo-s{
    display: none;
}
#sesion:checked + label .cir-uno {
    margin-left: 50%;
    
}

#video:checked + label .cir-dos {
    margin-left: 50%;
}

.fotos-anillos{
    position: relative;
}
.ima-nillos{
    position: absolute;
    top: -57vh;
    left: 38vw;
    width: 5rem;
    height: 5rem;
}

.mapa{
    position: relative;
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: black;
    color: white;
    padding:3% 3% 10% 3%;
}
.mapa span{
 display:inline-flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding: 10%;
}
.mapa input{
    width: 15vw;
    height: 3vh;
}
.text{
    font-family: sans-serif;
}
.fotos-anillos-camera{
position: absolute;
right:7%;
top: 88%;
}
.total {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #ff6541;
}
.total h1{
    color: #fff460;
    font-size: 3rem;
}
.total h5{
    color: #ffb4ce;
    font-size: 1rem;
}
.texto-total{
    text-align: start;
    padding: 10%;
}