
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@font-face {
    font-family: "gulfs-display";
    src: url("fuentes/GulfsDisplay-Normal.ttf");
}
@font-face {
    font-family: "anybody";
    src: url("fuentes/Anybody-Black.ttf");
}
body {
    font-family:"gulfs-display","anybody", sans-serif;
  }
  
/* Estilos para el menu de navegacion. */
header{
    display: flex;
    flex-direction: column;
    background-color: #ffb4ce;
    font-family: "gulfs-display";;
    padding-bottom: 5%;
}

header a{ 
    display: inline-flex;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    gap:20px;
}

header  nav ul li a img{
    height: 1.5em;
    width: 1.5em;
}

label div{
height: 3em;
width: 3em;
margin-left: 85%;
margin-top: 5%;
padding: 0.8em;
border: 1px solid black;
border-radius: 100%;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 2);
cursor: pointer;
}
label div img{
    height: 20px;
    width: 20px;
}
.menu-secciones{
    display:none;
}
.icono-cerrar{
    display: none;
}
.menu-nav{
    margin: 10%;
    display: none;
}

nav ul{
    list-style: none;
}

/* Mostrar menu al seleccionar checkbox */
#menu-secciones:checked + label .icono-abrir{
    display: none;
  }
#menu-secciones:checked + label  .icono-cerrar  {
    display: flex;
  }
#menu-secciones:checked + label + .menu-nav  {
    display: flex;
  }

/* Estilos seccion de nosotros */

.inicial{ 
    position: relative;  
    height: 90vh;
    background:linear-gradient(to bottom,#feb4cd 45.5%,black 45.5%,black 46%,#fff35f 46%) ;
    color: #0b59f8; 
    font-size: clamp(1.5rem, 5vw, 3rem);
}
.contenedor-titulo-dibujos h1{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
}
.contenedor-titulo-dibujos .estrella-pequeña{
    position: absolute;
    top:12%;
    left: 20%;
    height: 1.6rem;
    width: 1.6rem;
}
.contenedor-titulo-dibujos .estrella-mediana{
    position: absolute;
    top: 38%;
    right: 13%;
    height: 1.5rem;
    width: 1.5rem;
}
.contenedor-titulo-dibujos .estrella-grande{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 3.6rem;
    width: 3.6rem;
}
.contenedor-titulo-dibujos .rayo{
    position: absolute;
    top: 33%;
    right:20%;
    height: 2rem;
    width: 2rem;
}

.contenedor-imagen-logo .imagen-grande{
    position: absolute;
    border: 1px solid black;
    border-radius: 35%;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 45vw;
    z-index: 1;
}
.contenedor-imagen-logo .logo{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 84%;
    left: 22%;
    z-index: 4;
}
   
