
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@font-face {
    font-family: "gulfs-display";
    src: url("fuentes/GulfsDisplay-Normal.ttf");
}
@font-face {
    font-family: "anybody";
    src: url("fuentes/Anybody-Black.ttf");
}
@font-face {
    font-family: "futurino";
    src: url("fuentes/futurino-outline-bold.ttf");
}
body {
    font-family:"gulfs-display","anybody", sans-serif;
  }
  
/* Estilos para el menu de navegacion. */
header{
    display: flex;
    flex-direction: column;
    background-color: #ffb4ce;
    font-family: "gulfs-display";;
    padding-bottom: 5%;
}

header a{ 
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    gap:20px;
}

header  nav ul li a img{
    height: 1.5em;
    width: 1.5em;
}

label div{
height: 3em;
width: 3em;
margin-left: 85%;
margin-top: 5%;
padding: 0.8em;
border: 1px solid black;
border-radius: 100%;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 2);
cursor: pointer;
}
label div img{
    height: 20px;
    width: 20px;
}
.menu-secciones{
    display:none;
}
.icono-cerrar{
    display: none;
}
.menu-nav{
    margin: 10%;
    display: none;
}

nav ul{
    list-style: none;
}

/* Mostrar menu al seleccionar checkbox */
#menu-secciones:checked + label .icono-abrir{
    display: none;
  }
#menu-secciones:checked + label  .icono-cerrar  {
    display: flex;
  }
#menu-secciones:checked + label + .menu-nav  {
    display: flex;
  }

/* Estilos seccion de Incio */

.inicial{ 
    position: relative;  
    height: 90vh;
    background:linear-gradient(to bottom,#feb4cd 45.5%,black 45.5%,black 46%,#fff35f 46%) ;
    color: #0b59f8; 
    font-size: clamp(1.5rem, 5vw, 3rem);
}
.contenedor-titulo-dibujos h1{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
}
.contenedor-titulo-dibujos .estrella-pequeña{
    position: absolute;
    top:12%;
    left: 20%;
    height: 1.6rem;
    width: 1.6rem;
}
.contenedor-titulo-dibujos .estrella-mediana{
    position: absolute;
    top: 38%;
    right: 13%;
    height: 1.5rem;
    width: 1.5rem;
}
.contenedor-titulo-dibujos .estrella-grande{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 3.6rem;
    width: 3.6rem;
}
.contenedor-titulo-dibujos .rayo{
    position: absolute;
    top: 33%;
    right:20%;
    height: 2rem;
    width: 2rem;
}

.contenedor-imagen-logo .imagen-grande{
    position: absolute;
    border: 1px solid black;
    border-radius: 35%;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 45vw;
    z-index: 1;
}
.contenedor-imagen-logo .logo{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 82%;
    left: 22%;
    z-index: 4;
}
   
/* Estilos seccion de nosotros */

.nosotros{
    display: flex;
    flex-direction: column;
    background-color: #fff35f;
}

.contenedor-circles{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.texto-subtitulo-iconos h1{
    font-family: "futurino";
    line-height: 0.8;
    color: #1d5fcd;
    font-size:4rem ;
    padding-left: 12%;
}
.texto-subtitulo-iconos p{
    margin-top: 2%;
    margin-right: 12%;
    font-family: sans-serif;
    padding-left: 12%;
}
.texto-subtitulo-iconos span{
    display:inline-flex;
    margin-top: 2%; 
    font-family: "gulfs-display";
    align-items: center;
    padding-left: 12%;
  
}
.texto-subtitulo-iconos span img{
    height:4rem ;
    width: 4rem;
}

.con-div{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 80vh;
}
.contenedor-imagen-nosotros{
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-color: #ffb4ce;
    border: 1px solid black;
}
.uno{
    top: 12%;
    left: 10%;
    rotate: -10deg;
}
.dos{
    top: 10%;
    rotate: -10deg;
    left: 11%;
}
.tres{
    background-color: white;
    rotate: -10deg;
    top: 8%;
    left: 12%;
}
.tres img{
    margin: 5%;
    width: 16rem;
    height: 16rem;
}
/* Estilos seccion de Galeria */
.galeria{
    background:linear-gradient(to bottom,#fcffff 70.5%,black 70.5%,black 71%,#ff6541 71%) ;
    padding-bottom: 7%;
    padding-top: 5%;
}

.contenedor-galeria{
display: grid;
grid-auto-flow: column;
grid-auto-columns: 1fr; 
overflow-x: auto;
grid-template-rows: repeat(2,1fr);
gap: 2%;
}


.contenedor-galeria img{
    height: 40vh;
    width: 25vw;

    border: 1px solid black;
    border-radius: 15%;   
}